<p id="notice"><%= notice %></p>

<h1>News</h1>

<body>
  <div class="container">
    <% @news.each do |news| %>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0"><%= news.title %></h3>
            <div class="mb-1 text-muted"><%= news.user.name || 'Anonimen avtor' %></div>
            <p class="card-text mb-auto"><%= news.body %></p>
            <p> <%= display_news_index_links(news) %></p>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</body>

<br>

<%= link_to 'New News', new_news_path %>
