<!DOCTYPE html>
<html>
  <head>
    <title>BlogTomaz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to "Domov", root_path %>
      <%= link_to "Novice", news_index_url %>

      <%= display_session_links %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
